* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #d33f8d;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}
.hov1:hover {
  border-color: #d33f8d;}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.container-login100 {
  width: 100%;
  min-height: 30vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #18181a;
  background: -webkit-linear-gradient(bottom, #18181a, #464445);
  background: -o-linear-gradient(bottom, #222425, #918d8e);
  background: -moz-linear-gradient(bottom, #323436, #858083);
  background: linear-gradient(bottom, #27292b, #837f81);
  position: relative;
  z-index: 1;
}
.signup100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-l-50 {padding-left: 50px;}
.p-r-50 {padding-right: 50px;}
.p-t-40 {padding-top: 40px;}
.p-b-30 {padding-bottom: 30px;}
.p-b-20 {padding-bottom: 20px;}
.p-b-66 {padding-bottom: 66px;}
.p-t-30 {padding-top: 70px;}

.signup100-form-title {
  font-family: Raleway-Black;
  font-size: 30px;
  color: #2c0eb1;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  width: 100%;
  display: block;
}
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 18px;
}

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
}
.wrap-login100 {
  width: 300px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  height: 700px;
}


.input100{
  font-size: 15px;
  overflow: hidden;
  font-family: Raleway-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  color: #136ea3;

  display: block;
  width: 100%;
  background: #cef7f7;
  height: 40px;
  border-radius: 3px;
  padding: 0 30px 0 10px;
  align-items: center;
}
.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color : transparent;
  align-items: center;
}
.symbol-input100 {
  font-size: 24px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.limiter {
  width: 100%;
  margin: auto;
}
.hov1:hover {
  border-color: #d33f8d;
}
.SignUp100-form-btn{

    font-family: Raleway-Bold;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 3px;
    background: #504c4e;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .SignUp100-form-btn:hover {
    background: #333333;
  }
  .text-center {text-align: center;}
  .w-full {width: 100%;}
  .p-t-42 {padding-top: 42px;}
  .p-b-22 {padding-bottom: 22px;}
  .p-t-115 {padding-top: 20px;}

  .txt1 {
    font-family: Raleway-Regular;
    font-size: 16px;
    color: #1c18f0d5;
    line-height: 1.4;
  }


.m-b-10 {margin-bottom: 10px;}

.bo1 {
  border-bottom: 1px solid #dacbcb;
}
.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrap-login100 {
  width: 450px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}
